/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 500px;
    padding: 20px;
}

h1 {
    font-size: 8rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    color: #ff7e5f;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ffe6d5;
    color: #ff4b2b;
}

/* Responsive */
@media (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}