.fondoLogin {
    background-image: url("../../Imagenes/Login_Perfil/fondoLogin.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center; 
}

#contenedorLoginAsist {
    margin-left: 33.3%;
    width: 33.3%;
    height: 100%;
    float: left;
}

#contenedorLogin {
    width: 100%;
    height: 90%;
    float: left;
    margin-top: 5%;
    background-image: url("../../Imagenes/Login_Perfil/FondoSesion.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center; 
    border-radius: 50px;  /* radios de 10px en todas las esquinas */
}

#contenedorLoginFoto {
    width: 50%;
    height: 60%;
    margin-left: 25%;
    background-image: url("../../Imagenes/Login_Perfil/Login.png");
    background-size: cover;         
    background-position: center;
}

.login-container {
    width: 100%;
    height: 40%; 
}

input[type="text"] {
    width: 90%;
    padding: 1%;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;          /* tamaño de letra */
    border: 2px solid #3498db;/* color del borde */
    border-radius: 8px;       /* bordes redondeados */
    outline: none;            /* quita borde azul */
    background-color: #f8f9fa;/* color de fondo */
    color: #333;              /* color del texto */
    transition: 0.3s;         /* animación */
    margin-top: 5%;
    margin-left: 5%;
}

input[type="password"] {
    width: 90%;
    padding: 1%;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;          /* tamaño de letra */
    border: 2px solid #3498db;/* color del borde */
    border-radius: 8px;       /* bordes redondeados */
    outline: none;            /* quita borde azul */
    background-color: #f8f9fa;/* color de fondo */
    color: #333;              /* color del texto */
    transition: 0.3s;         /* animación */
    margin-top: 5%;
    margin-left: 5%;
}

/* Botones de inicio de sesión */

.login-container button {
    width: 50%;
    padding: 10px;
    background-color: #931525;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-left: 25%;
}


