#divMenuLateral {
    width: 15%;
    height: 100%;
    background-color: #3f1e22;
    float: left;
}

#contenedorInfoSesion {
    width: 90%; 
    height: 90%; 
    margin-top: 2.5%; 
    margin-left: 5%;
    background-image: url("../../Imagenes/Login_Perfil/FondoSesion.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center; 
    border-radius: 50px;  /* radios de 10px en todas las esquinas */
}

#divInfoUser {
    width: 85%;
    height: 100%;
    float: left;
    background-image: url("../../Imagenes/Login_Perfil/fondoLogin.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center; 
}

.botonesPerfil {
    width: 100%;
    height: 6%;
    background-color: #EC221F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.botonesPerfil:hover {
    opacity: 0.8;
}

.botonesPerfilSelec {
    width: 100%;
    height: 6%;
    background-color: #B20C05;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

#contenedorInfo {
    width: 70%;
    height: 100%;
    float: left;
    
}

#tituloInfo {
    width: 100%;
    height: 15%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 1%;
}

.info {
    width: 10%;             /* ancho */
    height: 6%;             /* alto */
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-left: 8%;
    padding-top: 0.5%;
    font-family: 'Arial', sans-serif;
    float: left;
}

.cuadroTexto {
    width: 30%;
    height: 50%;
    margin-top: 0.5%;
    border: 2px solid black;
    background-color: white;
    float: left;
    padding-left: 2%;
}

.edadPesoAlt {
    width: 15%;
    height: 50%;
    margin-top: 0.5%;
    border: 2px solid black;
    background-color: white;
    float: left;
    padding-left: 2%;
}

#contenedorCerrarSesion {
    width: 30%;
    height: 100%;
    float: left;
}

#imagenUser {
    margin-top: 6%;
    width: 100%;
    height: 60%;
    background-image: url("../../Imagenes/Login_Perfil/Login.png");
    background-size: cover;         
    background-position: center;
}

#cerrarSesion {
    width: 90%;
    height: 6%;
    background-color: #931525;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 5%;
}
